/* ตั้งค่าหน้ากระดาษ */ 
body {
  font-family: "Sarabun", sans-serif;
  color: #000000;
  margin-top: 56px;
}

/* เลื่อนหน้าอย่างนุ่มนวล */
html {
  scroll-behavior: smooth;
}

/*  ปรับ Navbar */
.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*  เมื่อชี้ Navbar */
.nav-item:hover {
  background-color: #08233a58;
}

/*  สีพื้นหลัง Navbar */
#mainNavbar {
  background-color: #b13131;
}

#navbarNav .nav-link {
  color: #f2f2f2;
}

/* ข้อความลิงค์ */
li a {
  color: #945050;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #8a3a3a;
}

.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;

  border-radius: 50%;
  border: 4px solid #000000;
  box-shadow: 0 4px 10px rgba(67, 47, 14, 0.2);

}

.headName {
  background-color: #b13131;
  color: white;
  padding-bottom: 7px;
  padding-top: 7px;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #702f2f;
}

#education {
  margin-bottom: 50px;
}

#project {
  margin-bottom: 50px;
}

#aboutme {
  margin-bottom: 50px;
}

#history {
  margin-bottom: 50px;
}

#univer {
  margin-bottom: 50px;
}